.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.numbersWrapper{
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
.number{
  display: block;
  width: 20px;
  text-align: center;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px 10px;
}
